# Virtual Environment
backend/venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# SQLite
db.sqlite3

# Python cache
.pytest_cache/

# Logs
*.log