<h1>{{ note.title }}</h1>

<p>{{ note.content }}</p>

<hr>

<p><strong>Subject:</strong> {{ note.subject.name }}</p>

<hr>

<h2>📄 AI Summary</h2>

{% if note.ai_summary %}

    <p>✅ Summary Available</p>

{% else %}

    <p>❌ No Summary Generated</p>

{% endif %}

<a href="{% url 'summary' note.id %}">
    View Summary
</a>

<hr>

<h2>🃏 Flashcards</h2>

{% if note.flashcards.count %}

    <p>
        {{ note.flashcards.count }} Flashcards Available
    </p>

{% else %}

    <p>No Flashcards Generated</p>

{% endif %}

<a href="{% url 'flashcards' note.id %}">
    View Flashcards
</a>

<hr>

<h2>📝 Quiz</h2>

{% if messages %}

    {% for message in messages %}

        <p class="{{ message.tags }}" >{{ message }}</p>

    {% endfor %}

{% endif %}

{% if has_quiz %}

    <a href="{% url 'quiz' note.id %}">
        📝 Start Quiz
    </a>
<br><br>
    <a href="{% url 'generate-quiz' note.id %}">
        🔄 Generate New Quiz
    </a>

{% else %}

    <a href="{% url 'generate-quiz' note.id %}">
        📝 Generate Quiz
    </a>

{% endif %}

<hr>

<h2>⚙️ Actions</h2>

<a href="{% url 'edit_note' note.id %}">
    ✏️ Edit Note
</a>

<br><br>

<a href="{% url 'delete_note' note.id %}">
    🗑️ Delete Note
</a>

<br><br>

<a href="{% url 'subject_detail' note.subject.id %}">
    ← Back to Subject
</a>