{% extends "base.html" %}

{% block title %}
Sign Up | SmartPrep AI Platform
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6 col-lg-5">

        <div class="card shadow">

            <div class="card-body p-4">

                <h2 class="text-center mb-4">
                    Create Your Account 🚀
                </h2>

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="d-grid mt-3">

                        <button
                            type="submit"
                            class="btn btn-success">

                            Sign Up

                        </button>

                    </div>

                </form>

                <hr>

                <p class="text-center mb-0">

                    Already have an account?

                    <a href="{% url 'login' %}">
                        Login
                    </a>

                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}